venv/
__pycache__/
*.pyc
*.pyo
*.pyd
Server/migrations/versions/cbc05349d8ea_initial_migration.py
Server/migrations/versions/ac73724fb1d3_add_appointment_date_and_status_to_.py
Server/migrations/versions/6de7d4e49ccb_fix_doctor_department_fk_ambiguity.py
